<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1030798918129-sduo19mag37jsm03a1pbdgq48p445aiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030798918129-sduo19mag37jsm03a1pbdgq48p445aiu</string>
	<key>API_KEY</key>
	<string>AIzaSyBQFT_YRq1-__pUNDRt1f4pA87u85ImgCE</string>
	<key>GCM_SENDER_ID</key>
	<string>1030798918129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salah.AuthUser</string>
	<key>PROJECT_ID</key>
	<string>authuser-ca57b</string>
	<key>STORAGE_BUCKET</key>
	<string>authuser-ca57b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030798918129:ios:5680b9723b2c3a3a</string>
	<key>DATABASE_URL</key>
	<string>https://authuser-ca57b.firebaseio.com</string>
</dict>
</plist>